:root {
    --list-indent: 16px;
    --list-indent-background: #ffffff10;
    --hs-undefined: 0deg, 0%;
    --hs-list: 270deg, 50%;
    --hs-pattern: 30deg, 75%;
    --hs-number: 135deg, 80%;
    --hs-vector: 0deg, 60%;
    --hs-string: 300deg, 60%;
    --hs-true: 140deg, 40%;
    --hs-false: 0deg, 40%;
    --hs-null: 0deg, 0%;
}

.list-indent {
    padding-left: var(--list-indent);
    background: var(--list-indent-background);
    display: flex;
    flex-flow: column nowrap;
}

.list-indent._compact {
    flex-flow: row wrap;
    gap: 5px;
}

.iota {
    --color: var(--hs-undefined);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: hsl(var(--color), 30%);
    border: 3px solid hsl(var(--color), 35%);
    gap: 15px;
    width: max-content;
    font-family: monospace;
}

.iota._full {
    padding: 0 10px;
    width: 100%;
}

.iota>._content {
    font-size: 1rem;
    padding: 10px 10px;
}
.iota._full>._content {
    background: #ffffff20;
}

.iota>._weight {
    display: none;
}
.iota._full>._weight {
    display: inline;
    font-weight: bold;
    font-size: 1rem;
    background: #00000020;
    padding: 10px 10px;
}

.iota>._type {
    display: none;
}
.iota._full>._type {
    display: inline;
    font-size: 1rem;
    font-weight: bold;
    margin: 10px 0;
}

.iota._list {
    --color: var(--hs-list);
    /* background-color: #602060;
    border: 3px solid #804080; */
}

.iota._pattern {
    --color: var(--hs-pattern);
}

.iota._number {
    --color: var(--hs-number);
}

.iota._vector {
    --color: var(--hs-vector);
}

.iota._string {
    --color: var(--hs-string);
}

.iota._true {
    --color: var(--hs-true);
}
.iota._false {
    --color: var(--hs-false);
}
